.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

.xxlarge { font-size: 170% }
.xlarge { font-size: 160% }
.large { font-size: 130% }
.small { font-size: 70% }
.tiny { font-size: 40% }

/* Two-column layout */

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ * {
  clear: both;
}
